* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


body {
  background-color: #21212e;

}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: #822EFF;
}
::-webkit-scrollbar-track{
    background-color: #46C2FF;
}
/* ******* navbar ******* */
nav {
  display: flex;
  justify-content: space-between;
 
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #20202C;
  z-index: 1000;
  height: 75px;

}
.toggle{
    position: absolute;
    right: 50px;
    top: 10px;
    font-size: 40px;
    color: #fff;
    display: none;
    cursor: pointer;
}
nav .menu{
    font-size: 24px;
    text-align: center;
    line-height: 50px;
    width: 50px;
    height: 50px;
    background-color: #822EFF;
    color: #fff;
    display: none;
   
}
nav .logo {
  width: 15%;
}
nav .logo img {
  width: 100%;
  height: 100%;
}
nav ul {
  width: 85%;
  padding: 10px 0px;
  justify-content: end;
  display: flex;
  list-style: none;
  color: #fff;
  transition: 1s;
}
nav ul li {
  width: 13%;
  text-align: start;
  overflow: hidden;
  line-height: 40px;
  margin:0px 5px;
  font-weight: bold;
  position: relative;
  text-transform: uppercase;
 

  
}
nav ul li:not(:nth-of-type(5),:nth-of-type(6))::after{
    content: "";
    position: absolute;
    bottom: 8px;
    left: -100%;
    height: 5px;
    width: 45%;
    background-color: #46C2FF;
    transition: .3s ease-out;
}
nav ul li:hover::after{
    left: 0%;
    
}
nav ul li:not(:nth-of-type(5),:nth-of-type(6))::before{
    content: "";
    position: absolute;
    bottom: 0;
    right: -100%;
    height: 5px;
    width: 45%;
    background-color: #BD11FA;
    transition: .5s ease-out;
}
nav ul li:hover::before{
    right: 70%;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
  display: block;
  width: 100%;
  height: 100%;
}
nav ul li a:hover{
    color: #fff;
}
nav ul li[data-back="SignIn"]{
    background: linear-gradient(90deg,#BD11FA,#46C2FF);
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 0px 15px 0px #822EFF;
    transition: .3s !important;
    
    
}
nav ul li[data-back="SignIn"]:hover{

    box-shadow: 0px 0px 15px 0px #46C2FF;
   
   
}
nav ul li[data-back="SignUp"]{
    border-radius: 5px;
    border:2px solid #46C2FF;
    text-align: center;
    transition: 1s;
}
nav ul li[data-back="SignUp"]:hover{
   
    background-color: #46C2FF;
}
nav ul li[data-back="SignUp"]:hover a{
    color: #fff;
}
nav ul li[data-back="SignUp"] a{
color: #46C2FF;
transition: .3s;
}
nav ul.active{
    left: 0;
}
/* ****************    header       ************  */

header{
    height: 100vh;
    background-image: url("../imgs/header.png");
    background-position:90vh 5vh;
    background-size: 900px;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}
header::after{
    content: "";
    width: 1000px;
    height: 1000px;
    position: absolute;
    left: -400px;
    top: -400px;
    border-radius: 100%;
    border: 1px solid rgba(70, 194, 255,.5);
    z-index: -1;
}
header::before{
    content: "";
    width: 600px;
    height: 600px;
    position: absolute;
    left: -200px;
    top: -200px;
    border-radius: 100%;
    border: 5px dashed rgba(70, 194, 255,.5);
    z-index: -1;
}
header .content{
    margin-top: 200px;
}
header .content p{
    color: #fff;
    font-size: 20px;

}
header .content h1{
   font-size: 78px;
   color: #46C2FF;
   font-weight: 500;
   margin-bottom: 50px;
}

.main-button{
    
    background-image: linear-gradient(130deg,#BD11FA,#46C2FF);
    box-shadow: 0px 0px 15px 0px #822EFF;
    height: 55px;
    line-height: 55px;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    width: 180px;
}

/* events */

.events .adsCard{
    height: 600px;
    position: relative;
    background-image: url(../imgs/ads.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    border-radius: 8px;


}
.footerText{
    position: absolute;
    bottom: 0;
    height: 35%;
    background-color: rgba(22, 38, 64,.8);

}

.events .footerText  .title-text h2 span{
    font-size: 16px;
    color: #46C2FF;
    float: right;
}
.events .footerText  .title-text h2 span i{
    color: #822EFF;
}

.events .footerText:last-child i{
  
    color: #822EFF;
}
.events .footerText p:nth-child(3){
    color: #46C2FF;
    font-size: 16px;
}
.events .item{
    display: flex;
    height: 70px;
    width: 100%;
    padding: 2px;
    justify-content: space-between;
    overflow: hidden;
    
}
.events .item .date{
    height: 100%;
    width: 25%;
    font-size: 15px;
    padding: 0;
    margin: 0;
    display: flex;
    padding-left: 3px;
    
}
.events .item .date span:first-child{
    
    height: 100%;
    font-weight: bold;
    margin: 0;
    padding: 0;
    font-size: 41px;
    line-height: 46px;
    color: #822EFF;
}
.events .item .date span:last-child{
   color: #46C2FF;
   font-weight: bold;
    height: 100%;
    
}
.events .item .content{
    width: 45%;
    line-height: 70px;
    text-align: center;
}
.events .item .time{
    line-height: 70px;
    margin-right: 2px;
    color: #46C2FF;
}
.events .item button{
    background-color: #BD11FA;
    border: none;
    color: #fff;
    padding: 5px;
    border-radius: 6px;
    width: 15%;
    
}
/* *****   artist   **** */

.artist .container h1:first-child {
    color: #46C2FF;
    margin: 50px 0;
}
.artist .slider{
    height: 380px;
    
}
.artist .card{
    background-color: #20202C;
}
.artist .head {
    height: 15%;
}
.artist .head span{
    color: #46C2FF;
}
.artist .head span i{
    color: #822EFF;
}
.artist .img-card{
    height: 40%;
}
.artist .footer-text{
    height: 45%;
    color: #fff;

}
.artist .footer-text h3{
    border-bottom: 3px solid #822EFF;
    width: max-content;
    
    padding-bottom: 8px;
  
}
.artist .footer-text p{
    font-size: 14px;
}
.artist .card{
    width: 30.33%;
}
/* section contact us */
.contactUs .bg-section{
    background-image: url(../imgs/Rectangle\ 2260.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.contentUs-form{
    background-color: #20202C;
    color:#fff;
    padding: 25px 5px;
}

.contactUs .contentUs-form form{
    display: flex;
    align-items: center;

}
.contactUs .contentUs-form form input,button{
    outline: none;
    border: none;
    height: 50px;
}

.contactUs .contentUs-form form input{
    width: 65%;
    padding: 8px;
    border-radius: 5px 0px 0px 5px;
}
.contactUs .contentUs-form form button{
   width: 35%;
}
.linnerButton{
    background: linear-gradient(90deg,#BD11FA,#46C2FF);
    border-radius: 0px 5px 5px 0px;
    text-align: center;
    box-shadow: 0px 0px 15px 0px #822EFF;
    transition: .3s !important;
    color: #fff;
}

.linnerButton:hover{
    box-shadow: 0px 0px 15px 0px #46C2FF;
}
/* about */
.about{
   
    background: linear-gradient(90deg,#46C2FF,#BD11FA);
}
.about{
  
    background: linear-gradient(90deg,#46C2FF,#BD11FA);
}
.about .content{
  
    color: #283C5C;
    padding: 50px;

}
.about .content h1{
    border-bottom: 3px solid #283C5C ;
    width: max-content;
    font-weight: bolder;
}
.about .background{
    background: url(../imgs/Group\ 2504.png);
    height: 300px;
}

/* artist slider */
.artist-slider{
height: 600px;
background: url(../imgs/artist.png);
background-size: 100% 100%;
}
.artist-slider .content-slider{
    height: 500px;
    width: 100%;
    transform: translate(0px,10%);
    background-color: rgba(22, 38, 64,.8)
}
.artist-slider .content-slider h1{
    color: #46C2FF;
}
.artist-slider .content-slider .linnerButton{
    width: 160px;
    margin: 0 auto;
    display: block;
}
/*
global classes 
 */
.prev,.next{
    width: 100px;
    height: 50px;
    border: 1px solid #46C2FF;
    border-radius: 6px;
    background: none;
    transition: .5s;
    margin: 0 5px;
}
.prev,.next i{
   color: #46C2FF;
   font-size: 25px;
}
.prev:hover ,.next:hover{
    background-color: #46C2FF;
}
.prev:hover ,.next:hover i {
    color: #fff;
}
.myshadow{
    box-shadow: 0px 0px 25px 0 rgba(0, 0, 0, 0.5);
}
.layout{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: -20px;
}
.layout[data-layout="dark"]{
    background-color: rgba(0, 0, 0, 0.1);
}